# {{ ansible_managed }}
[Service.{{ openio_conscience_namespace }}-conscience-{{ openio_conscience_serviceid }}]
command=/usr/bin/oio-daemon -s OIO,{{ openio_conscience_namespace }},conscience,{{ openio_conscience_serviceid }} /etc/oio/sds/{{ openio_conscience_namespace }}/conscience-{{ openio_conscience_serviceid }}/conscience-{{ openio_conscience_serviceid }}.conf
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_conscience_namespace }},conscience,{{ openio_conscience_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
